@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
h1{
    font-family: 'Raleway', sans-serif;/* police titre */
    font-size: 2em;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0
 }

.containerheadernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    }
.headernav {
    display: flex;
    padding: 0;
    margin-right: 0;
  }
  .headernav a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-left: 0px;
    padding: 20px;
    }

 .headernav ul {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  font-size: 18px;
}
.headernav li{
  list-style-type: none;
  cursor: pointer;
}
.Logo{
    padding: 0 2rem;
    margin-top: 1.3rem;
    height: 2.8rem;
    vertical-align: top;
   }
   /*****SEARCH*****/
   .main{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
   }

   .search_title{
    
    margin-bottom: 0.5rem;
    font-size: 1.4em;
   }
   .search_subtitle{
     margin-top: 0;
   }
   .search_bloc{
     display: flex;
     align-items: center;
     margin-top: 2rem;
   }
   .search_map{
     display: flex;
     background-color: #F2F2F2;
     border-radius: 0.8em 0.9em 0.9em 0.8em;
     display: inline-flex;
     display: inline-flex;
     max-width: 100%;
     overflow: auto;
   }
   .map{/* logo map */
     padding: 1rem;
     font-weight: 900;
     text-align: center;
   }
   
  .search_btn{/* bouton de recherche */
    background-color: #0065FC;
    color: white;
    border: 1px #0065FC solid;
    border-radius: 0 0.8rem 0.8rem 0;
    padding: 1rem;
    font-size: 15px;
}
.form{
  display: flex;
  justify-content: flex-start;
}
.search_input_zone{/* zone de texte */
    border: 1px #F2F2F2 solid;
    border-right: none;
    width: 13rem;
    height: 45px;
    font-size: 1.1rem;
   
   }
   .search_icon{
     color: transparent;
   }

  /*****FILTERS*****/
  
  .filter_title{
    margin: 10px 2rem 1rem 0;
    display: flex;
    align-items: center;
    float: left;
    font-size: 1.1em;
    font-weight: 600;
  }
  .filter_items{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .filter_icons{
    background-color: #deebff;
    color: #0065fc;
    border-radius: 100%;
    padding: 19px;
    margin-right: 0.5rem;
  }
  .filter_eco{
    display: -webkit-box;
    margin-right: 2rem;
    border: 2px solid #F2F2F2;
    border-radius: 2em;
    padding-right: 15px;
  }
   .filter_family{
     display: -webkit-box;
     margin-right: 2rem;
     border: 2px solid #F2F2F2;
     border-radius: 2em;
     padding-right: 15px;
   }
   .filter_heart{
     display: -webkit-box;
     margin-right: 2rem;
     border: 2px solid #F2F2F2;
     border-radius: 2em;
     padding-right: 15px;
   }
   .filter_animal{
     display: -webkit-box;
     margin-right: 2rem;
     border: 2px solid #F2F2F2;
     border-radius: 2em;
     padding-right: 15px;
   }
   .txt{
     font-weight: 600;
   }
  .logementstxt{
    display: -webkit-box;
    margin-top: 1em;
  }
  .filter_iconsi{
    color: #0065fc;
    background: white;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    margin-right: 10px;
    padding: 5px 9px;
    font-size: smaller;
}
.nblogements{
  margin-top: 1.3em;
  }
   
   /*****FOOTER*****/
  
.footer_contenu { /* bloc fond gris */
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
  }

.footer_bloc_propos{ /* bloc à propos */
    width: 30%;/* largeur */
    padding: 2rem 2rem;
  }

.footer_bloc_hosting{/* bloc hébergement */
    width: 30%;
    padding: 2rem 2rem;
  }
.footer_bloc_assist{/* bloc assistance */
  width: 30%;
  padding: 2rem 2rem;
}
.footer_bloc_propos h3,
.footer_bloc_hosting h3,
.footer_bloc_assist h3{
  width: 30%;/* largeur entre bloc */
  padding: 0 2.5rem;/* alignement titre */
  display: inline;
}
.list_propos,
.list_hosting,
.list_assist{
  list-style-type: none;

}
.list_propos a,
.list_hosting a,
.list_assist a{
  text-decoration: none;
  color: #333;
}
.list_propos a:hover,
.list_hosting a:hover,
.list_assist a:hover{
  color: rgb(3,3,3);
}
.list_hosting li{
  padding: 5px 0;/* espace hauteur phrase */
}
.list_propos li{
  padding: 5px 0;
}
.list_assist li{
  padding: 5px 0;
}

  @media screen and (max-width: 760px)
  {
    .footer_contenu{
      flex-direction: column;
      padding: 1rem;
      background-color: #F2F2F2;
      width: 100%;
    }
    .footer_bloc_propos{
      width: auto;
      padding: 0;
      margin: 1rem 0;
    }
    .footer_bloc_hosting{
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }
    .footer_bloc_assist{
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }

  }